<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar>
      <span>Venta de Casas</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item routerLink="/admin/dashboard" (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>{{ "dashboard" }}</mat-icon>
        {{ "Dashboard" }}
      </mat-list-item>
      <mat-list-item routerLink="/admin/bitacora" (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>{{ "fact_check" }}</mat-icon>
        {{ "Bitacora" }}
      </mat-list-item>
      <mat-list-item routerLink="/admin/casas" (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>{{ "real_estate_agent" }}</mat-icon>
        {{ "Casas" }}
      </mat-list-item>
      <mat-list-item routerLink="/admin/reportes" (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>{{ "summarize" }}</mat-icon>
        {{ "Reportes" }}
      </mat-list-item>
      <mat-list-item routerLink="/admin/config" (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>{{ "settings" }}</mat-icon>
        {{ "Configuraciones" }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-button (click)="onLogOut()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-toolbar>
  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
