<div class="container-layout">
  <div class="login-container">
    <div class="login-info-container">
      <h1 class="title">Buy House</h1>
      <div class="social-login">
        <div class="social-login-element">
          <img src="assets/google.svg" alt="google-image" />
          <span>Google</span>
        </div>
        <div class="social-login-element">
          <img src="assets/facebook.svg" alt="facebook-image" />
          <span>Facebook</span>
        </div>
      </div>
      <p>or</p>
      <form
        class="inputs-container"
        [formGroup]="formLogin"
        (ngSubmit)="login()"
      >
        <input
          class="input"
          type="email"
          formControlName="correo"
          placeholder="Email"
        />
        <input
          class="input"
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <p>Forgot password? <span class="span">Click here</span></p>
        <button class="btn" [disabled]="formLogin.invalid" type="submit">
          login
        </button>
        <p>
          Don't have an account?
          <span routerLink="/auth/register" class="span">Sign Up</span>
        </p>
      </form>
    </div>
    <img class="image-container" src="assets/login.svg" alt="" />
  </div>
</div>
<!-- <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/register">¿Ya tienes cuenta?</a>
  </div> -->
